<h2> Export books </h2>

<form method="post">
    <p class="submit">
        <input type="hidden" name="export_trigger_submit" id="export_trigger_submit" value="1">
        <input type="submit" id="export_submit" class="button button-primary" value="Export">
    </p>
</form>
